$font-family-first: 'Roboto', Arial, sans-serif;
$font-family-second: 'Playfair Display', Georgia, serif;


$color-bg-first: rgba(237, 229, 206, 1);
$color-bg-second: rgba(55, 54, 54, 1);

$color-first: rgba(0, 0, 0, 1);
$color-second: rgba(255, 255, 255, 1);
$color-third: rgba(253, 192, 115, 1);
$color-fourth: rgba(253, 148, 96, 1);
